<div id="land">
  <div class="vcenter">
    <h2>Create, Version, Track and Share your</h2>
    <h1>Business Model Canvas</h1>
    <%= link_to fa_icon("linkedin-square", text: "Login with Linkedin"), "#", class: "btn btn-primary btn-lg" %>
    <div class="disclaimer">We don't share anything without your permission</div>
    <p>with <%= fa_icon "heart" %> from Code Astra</p>
  </div>
</div>