<div id="chart" class="container-fluid">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <header>
        <h1><%= @chart.title %></h1>
      </header>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2" id="key-partnerships"></div>
    <div class="col-xs-2">
      <div id="key-activities"></div>
      <div id="key-resources"></div>
    </div>
    <div class="col-xs-2" id="value-propositions"></div>
    <div class="col-xs-2">
      <div id="customer-relationships"></div>
      <div id="channels"></div>
    </div>
    <div class="col-xs-2" id="customer-segments"></div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5" id="cost-structure"></div>
    <div class="col-xs-5" id="revenue-streams"></div>
    <div class="col-xs-1"></div>
  </div>
</div>