<div id="chart" class="container-fluid">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <header>
        <h1><%= @chart.title %></h1>
      </header>
    </div>
    <div class="col-xs-1"></div>
  </div>

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2 canvas-box" id="key-partnerships">
      <h4>Key Partnerships</h4>
    </div>
    <div class="col-xs-2">
      <div id="key-activities" class="canvas-box">
        <h4>Key Activities</h4>
      </div>
      <div id="key-resources" class="canvas-box">
        <h4>Key Resources</h4>
      </div>
    </div>
    <div class="col-xs-2 canvas-box" id="value-propositions">
      <h4>Value Propositions</h4>
    </div>
    <div class="col-xs-2">
      <div id="customer-relationships" class="canvas-box">
        <h4>Customer Relationships</h4>
      </div>
      <div id="channels" class="canvas-box">
        <h4>Channels</h4>
      </div>
    </div>
    <div class="col-xs-2 canvas-box" id="customer-segments">
      <h4>Customer Segments</h4>
    </div>
    <div class="col-xs-1"></div>
  </div>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5 canvas-box" id="cost-structure">
      <h4>Cost Structure</h4>
    </div>
    <div class="col-xs-5 canvas-box" id="revenue-streams">
      <h4>Revenue Streams</h4>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>