body {
  padding-bottom: 65px;
  color: $dark-font-color;
}

header {
  background-color: $dark-bg-color;
  color: $light-font-color;
  height: 50px;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;


  #profile-pic-container, #brand-pic-container {
    background-color: $dark-bg-color;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in;

    &:hover, &.active {
      background-color: $darker-bg-color;
    }
    
    img {
      height: 40px;
      border: 2px solid $light-font-color;
      transition: all 0.3s ease-in;

      &:hover {
        border-width: 0;
      }
    }
  }

  #user_details, #brand-details {
    position: absolute;
    top: 50px;
    max-width: 30em;
    background-color: $darker-bg-color;
    color: $light-font-color;
    padding: 15px 40px;
    z-index: 1000;

    a {
      &, &:hover, &:visited, &:active, &:link {
        color: $light-font-color;
        text-decoration: none;
      }

      .fa {
        transition: all 0.5s ease-in;
      }

      &:hover {
        .fa {
          transform: rotate(360deg);
        }
      }
    }
  }

  #user_details {
    right: 15px;
  }

  #brand-details {
    left: 15px;
  }

  .breadcrumb {
    background-color: transparent;
    font-size: 20px;
    margin: 5px 0;
    float: left;

    li {
      color: $light-font-color;
      font-weight: 300;

      &:before {
        color: $light-font-color;
      }

      a {
        &, &:hover, &:visited, &:active, &:link {
          color: $light-font-color;
          font-weight: 400;
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid transparent;
}